[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.10.2"
antiorm = "==1.2.1"
appnope = "==0.1.3"
asttokens = "==2.2.1"
backcall = "==0.2.0"
bidict = "==0.22.1"
blinker = "==1.6.2"
certifi = "==2022.12.7"
charset-normalizer = "==3.1.0"
click = "==8.1.3"
cursor = "==1.3.5"
db = "==0.1.1"
db-sqlite3 = "==0.0.1"
decorator = "==5.1.1"
distlib = "==0.3.6"
executing = "==1.2.0"
filelock = "==3.10.3"
flask = "*"
flask-cors = "==3.0.10"
flask-marshmallow = "==0.14.0"
flask-migrate = "*"
flask-script = "==2.0.6"
flask-socketio = "==5.3.3"
flask-sqlalchemy = "*"
gunicorn = "*"
idna = "==3.4"
importlib-metadata = "==6.0.0"
importlib-resources = "==5.12.0"
install = "==1.3.5"
ipdb = "==0.13.13"
ipython = "==8.11.0"
itsdangerous = "==2.1.2"
jedi = "==0.18.2"
jinja2 = "==3.1.2"
lxml = "==4.9.2"
mako = "==1.2.4"
markdown-it-py = "==2.2.0"
markupsafe = "==2.1.2"
marshmallow = "==3.19.0"
marshmallow-sqlalchemy = "==0.29.0"
matplotlib-inline = "==0.1.6"
mdurl = "==0.1.2"
packaging = "==23.0"
parso = "==0.8.3"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
pipenv = "==2023.3.20"
pippip = "==0.0.10"
platformdirs = "==3.1.1"
prompt-toolkit = "==3.0.38"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.2"
pygments = "==2.14.0"
python-engineio = "==4.4.0"
python-socketio = "==5.8.0"
requests = "*"
rich = "==13.3.2"
six = "==1.16.0"
sqlalchemy = "==2.0.7"
stack-data = "==0.6.2"
tomli = "==2.0.1"
traitlets = "==5.9.0"
typing-extensions = "==4.5.0"
urllib3 = "==1.26.15"
virtualenv = "==20.21.0"
virtualenv-clone = "==0.5.7"
wcwidth = "==0.2.6"
werkzeug = "==2.3.2"
zipp = "==3.15.0"
psycopg2-binary = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
honcho = "*"
flask-login = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
